@media (max-width:1110px){
   .bot{
    flex-direction: column;
    gap: 35px;
    align-items: center;
} 
.line{
    display: none;
}
}
@media (max-width:600px){
    .nav-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: -100%;
        left: 0;
        z-index: 999;
        background: rgba(0, 0, 0, 0.5);
        transition: 0.5s;
        font-size: 30px;
        text-align: center;
    }
    .burger{
        display: block;
    }
    .burger:hover ~ .nav-list{
        top: 0;
        padding-top: 25px;
    }
    h1{
        font-size: 80px;
    }
    .footer .container{
        justify-content: center;
        flex-wrap: wrap;
    }
    .main-cont p{
        font-size: 18px;
    }
}
@media (max-width:490px){
    .burger{
        right: 20%;
    }
    h1{
        font-size: 65px;
    }
}
@media (max-width:432px){
    .burger{
        right: 27%;
    }
}